.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #ced6f5;
  background-color: #181825;
}
.highlight .err {
  color: #151515;
  background-color: #ac4142;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #505050;
}
.highlight .cp {
  color: #a6e3a1;
}
.highlight .nt {
  color: #f38ba8;
}
.highlight .o, .highlight .ow {
  color: #f38ba8;
}
.highlight .p, .highlight .pi {
  color: #fab387;
}
.highlight .gi {
  color: #90a959;
}
.highlight .gd {
  color: #ac4142;
}
.highlight .gh {
  color: #6a9fb5;
  background-color: #151515;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv, .highlight .kd, .highlight .kn {
  color: #f38ba8;
}
.highlight .kc {
  color: #cba6f7;
}
.highlight .kt {
  color: #74c7ec;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #f9e2af;
}
.highlight .sa {
  color: #aa759f;
}
.highlight .sr {
  color: #75b5aa;
}
.highlight .si {
  color: #8f5536;
}
.highlight .se {
  color: #8f5536;
}
.highlight .nn {
  color: #ced6f5;
}
.highlight .nc {
  color: #89b4fa;
}
.highlight .no, .highlight .nd {
  color: #74c7ec;
}
.highlight .na {
  color: #ced6f5;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #cba6f7;
}
.highlight .ss {
  color: #90a959;
}
.highlight .nf {
  color: #a6e3a1;
}

.n + .o + .na, .na + .o + .na {
    color:#a6e3a1;
}

.language-plaintext.highlighter-rouge {
  background-color: #181825;
  color: #94e2d5;
  font-size: large;
  padding-left: 5px;
  padding-right: 5px;
}